<!DOCTYPE html>
<html>
    <body>
        <h1>New jobs</h1>

        {% if jobs_dict|length == 0 %}
            <p> There are no new jobs. Maybe check if there are any errors. </p>
        {% else %}
            {% for company_name, company_dict in jobs_dict.items() %}
                <h2>{{company_name}}</h2>
                <ul>
                    {% for job_title in company_dict.values() %}
                        <li>{{job_title}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}

        {% if errors_dict|length > 0 %}
            <h3>Errors</h3>
            <p> Check if there are any errors in the following companies </p>
            <ul>
                {% for company_name in errors_dict.keys() %}
                    <li>{{company_name}}</li>                    
                {% endfor %}
            </ul>
        {% endif %}

    </body>
</html>
